<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">	 
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href= "main.css" rel="stylesheet" type ="text/css"/>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    </head>
    <body>

        
                <header>
                        <!-- Navigation Bar -->			
                            <nav class="navbar navbar-fixed-top is-scrolling navbar-toggleable-sm navbar-inverse" >
                                <div class="container">
                                    <div class="row">
                                        <div class"navbar-header">
                                            <div class="col-md-12">
                                                <a href="#" class="navbar-brand scrollto"><span>Compassion Logistics</a>
                                            </div>									
                                        </div>
                                    </div>
                                        
                                    <button class="navbar-toggler navbar-toggler-right navbar-inverse" type="button" data-toggle="collapse" data-target="#navbar-ziad" aria-controls="navbar-ziad" aria-expanded="false">
                                            <span class="navbar-toggler-icon"></span> 
                                    </button>											
                                        
                                    <div class="collapse navbar-collapse" id="navbar-ziad">
                                                <ul class="navbar-nav ml-auto bg-main">
                                                    <li class="nav-item"><a class="nav-link" href="#first">Home<a/></li>
                                                    <li class="nav-item"><a class="nav-link" href= "driver.html">Log in</a></li>							
                                                </ul>								
                                    </div>
                                        
                                        
                                    
                                </div>
                            </nav><!-- Navigation Bar -->			 
                    </header>
                    
                    <section id="login">
                    <div class="container">
                        <div class="wrapper mx-auto">
                            <div class="loginsec">
                                    <h3 class="text-center">SIGN IN</h3>
                                    <form id="loginForm" >
                                            <p>
                                                <label>Username</label>
                                                <input type="text" name="username" id="Username" required>
                                            </p>
                                            <p>
                                                <label>Password</label>
                                                <input type="text" name="password" id="Password" required>
                                            </p>
                                            <p class="full">
                                                <button class="mx-auto" type="submit"><a href="driver.html">Log In</a>
                                                </button>
                                            </p>
                                    </form>
                                    <a href="#"><p class="text-center">Sign up</p></a>
                            </div>
                        </div>
                    </div>
                    </section>
                    <footer></footer>
    </body>
    
    <script src="main.js"></script>
</html>
